* {
  margin: 0;
  padding: 0;
}
.background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, .5fr) ;
  margin: 0;
}
.pic{
  grid-column: 1/2;
}
#me{
  grid-column: 2 /3;
 transform: translateY(-30%);
}

.background img {
  width: 290px;
  height: 65%;
  transform: translateX(160%);
  border-radius: 20%;  
}

.background p {
  text-align: center;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  width: 450px;
  color: black;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
}

.background span {
  font-size: 72px;
  color: black;
  font-family: Gabriola;
}

.home {
  color: rgb(248, 246, 243);
}

.background h6 {
  text-align: center;
  transform: translateY(-65%);
  color: black;
  width: 450px;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
  font-size: 46px;
}
#ab{
  transform: translateY(15%);
}
.background h5 {
  text-align: center;
  transform: translateY(-130%);
  font-size: 42px;
  width: 450px;
  color: black;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
}

.table td {
  color: white;
  font-size: 18px;
}

.responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: white;
  font-family: Gabriola;
  font-size: 30px;
  padding-top: 20px;
}

footer a {
  color: white;
  font-size: 22px;
  justify-content: space-between;
  padding-left: 10px;
  font-family: Gabriola;
}

footer a:hover {
  color: #f7c5cc;
}

@media (width >= 900px) {
  .background .table {
    width: 100%;
    margin: auto;
  }
}

@media (width >= 300px) {
  .background .table {
    width: 100%;
    margin: auto;
}
.background p {
    margin: auto;
}
.background h5, .background h6 {
    margin: auto;
}
.background img  {
    transform: translateX(-30%) !important;
    font-size: 20px;
}
}

@media (width <= 900px) {
    .background .table {
        width: 100%;
        margin: auto;
    }
    .background p {
        margin: auto;
    }
    .background h5, .background h6 {
        margin: auto;
    }
    .background img  {
        margin: auto;
    }
}
