* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
nav,
.background,
footer {
  grid-column: 1 / 4;
}
.background {
  background: url("../images/flower.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
}

.background img {
  width: 290px;
  height: 65%;
  border-radius: 20%;
    margin-left: 590px;
  transform: translateY(-5%);
}

.background p {
  text-align: center;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 10px;
  margin-left: 500px;
  color: black;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
}

.background span {
  font-size: 72px;
  color: black;
  font-family: Gabriola;
}

.home {
  color: rgb(248, 246, 243);
}

.background h6 {
  text-align: center;
  margin-top: 20px;
  margin-left: 500px;
  color: black;
  width: 450px;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
  font-size: 46px;
}

.background h5 {
  text-align: center;
  margin-left: 500px;
  font-size: 42px;
  margin-top: 10px;
  width: 450px;
  color: black;
  background-color: rgb(248, 246, 243);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: Gabriola;
}

.table td {
  color: white;
  font-size: 18px;
}

.responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: white;
  font-family: Gabriola;
  font-size: 40px;
  padding-top: 20px;
}

footer a {
  color: white;
  font-size: 22px;
  justify-content: space-between;
  padding-left: 10px;
  font-family: Gabriola;
}

footer a:hover {
  color: #f7c5cc;
}

@media (width >= 900px) {
  .background .table {
    width: 100%;
    margin: auto;
  }
}

@media (width <= 900px) {
    .background .table {
        width: 100%;
        margin: auto;
    }
    .background p {
        margin: auto;
    }
    .background h5, .background h6 {
        margin: auto;
    }
    .background img  {
        margin: auto;
    }
}
