label {
    display: block;
    color: rgb(4, 53, 79);
    font-size: larger;
}

input {
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: large;
    color: purple;
    border: 3px solid #7c6eeb;
}

textarea {
    display: block;
    width: 80%;
    margin: 8px auto;
    color: purple;
    font-size: large;
    border: 3px solid #7c6eeb;
}

button {
    padding: 8px;
    border: 3px solid #9c90f5;
    margin-bottom: 10px;
}

button:hover {color: yellow;}

.bcak img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
    height: 750px;
    width: 1550px;
}

.responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.contact {
    position: absolute;
    top: 35%;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding-left: 50px;
}

.container {
    position: absolute;
    top: 25%;
    transform: translateY(-20%);
    padding-left: 30px;
    text-align: center;
    font-family: Gabriola;
    font-size: 22px;
}

.i {
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 290px;
margin-left: 550px;
padding-bottom: 10px;
}

 p {
    font-size: 44px;
    color: black
}

.container h6 {
    font-size: 34px;
    color: black;
}

.container h1 {
    font-size: 52px;
    margin-top: 7px;
    color: black;
}

.container h3 {
    color: black;
    font-size: 34px;
    margin-bottom: -10px;
}

.social-links {
    font-size: 30px;
    color: aliceblue;
    color: black;
}

.social-links a {
    color: white;
}

.social-links a:hover {
    color: yellow;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    font-family: Gabriola;
    font-size: 50px;
    height: 200px;
}

footer a{
    color: white;
    font-size: 22px;
    justify-content: space-between;
    padding-left: 10px;
    font-family: Gabriola;
}

footer a:hover{
    color: #F7C5CC;
}

@media (width <= 900px ) {
    .bcak img {
        width: 100vh;
        margin: auto;
        height: 100vh;
    }
    .i {
        margin-left: 120px;
        margin-top: 40px;
    }
    .container h3 {
        font-size: 20px;
    }
    .container h1 {
        font-size: 28px;
    }
    .container h6 {
        font-size: 20px;
    }
    p {
        font-size: 30px;
    }
    .contact {
        top: 35%;
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-left: 50px;
    }
    
    .container {
        top: 18%;
        transform: translateY(-20%);
        padding-left: 30px;
        text-align: center;
        font-family: Gabriola;
        font-size: 22px;
    }
    label {
        display: block;
        color: rgb(4, 53, 79);
        font-size: large;
    }
    
    input {
        display: block;
        width: 80%;
        font-size: large;
        color: purple;
        border: 3px solid #7c6eeb;
    }
    
    textarea {
        width: 80%;
        color: purple;
        font-size: large;
        border: 3px solid #7c6eeb;
    }
    
    button {
        padding: 8px;
        border: 3px solid #9c90f5;
        margin-bottom: 10px;
    }
    
    button:hover {color: yellow;}
}