* {
    margin: 0;
    padding: 0;
}

.back {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    height: 750px;
    width: 1550px;
}

.tim {
    position: relative;
    max-width: 400px;
    margin-left: 550px;
    padding-top: 110px;
}

.tim::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: rgb(209, 159, 209);
    top: 11%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.cont h6, .cont h2 {
    font-size: 40px;
}

.hd {
    border-bottom: black 2px solid;
    font-size: 52px;
    text-decoration: solid;
    ;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
    margin-top: 10px;
    font-family: Gabriola;
    font-size: 28px;
}

h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: Gabriola;
    font-size: 20px;
}

.cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -55px;
    background-color: black;
    border-radius: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -60%;
    margin-top: 40px;
}

.right {
    left: 60%;
    margin-top: 25px;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: 2px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(209, 159, 209);;
}

.right::before{
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    left: 2px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(209, 159, 209) transparent transparent;
    
}

.right::after {
    left: -40px;
}

.content {
    padding: 20px 30px;
    background-color: plum;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    border-radius: 6px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    font-family: Gabriola;
    font-size: 40px;
    padding-top: 20px;
}

footer a{
    color: white;
    font-size: 22px;
    justify-content: space-between;
    padding-left: 10px;
    font-family: Gabriola;
}

footer a:hover{
    color: #F7C5CC;
}

/*@media screen and (max-width: 600px) { 
    .timeline::after {
        left: 31px;
    }

    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }

    .cont::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(209, 159, 209) transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}*/

@media (width <= 576px) {
    .back {
        width: 100%;
        margin: auto;
        height: 100%;
    }
    .tim {
        max-width: 400px;
        margin-left: 0px;
        padding-top: 110px;
    }
    .tim::after {
        content: '';
        width: 10px;
        background-color: rgb(209, 159, 209);
        top: 11%;
        bottom: 0;
        left: 3%;
        margin-left: -3px;
    }
    .hd {
        font-size: 32px;
    }
    .cont {
        padding: 10px 40px;
        background-color: inherit;
        width: 70%;
        margin-top: 10px;
        font-family: Gabriola;
        font-size: 20px;
    }
    h1 {
        font-size: 16px;
    }
    .cont h6, .cont h2 {
        font-size: 24px;
    }
    .left, .right {
        left: 20%;
    }
    .left::after {
        left: -40px;
    }
    .left::before {
        left: -1px;
    }
}

@media (width >= 576px) {
    .back {
        width: 100%;
        margin: auto;
        height: 100%;
    }
    .tim {
        max-width: 400px;
        margin-left: 20px;
        padding-top: 110px;
    }
    .tim::after {
        content: '';
        width: 10px;
        background-color: rgb(209, 159, 209);
        top: 11%;
        bottom: 0;
        left: 50%;
        /*margin-left: -3px;*/
    }
    .hd {
        font-size: 38px;
    }
    .cont {
        padding: 10px 40px;
        background-color: inherit;
        width: 75%;
        margin-top: 10px;
        font-family: Gabriola;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .cont h6, .cont h2 {
        font-size: 29px;
    }
    .left, .right {
        left: 40%;
    }
    .left::after {
        left: -40px;
    }
    .left::before {
        left: -1px;
    }
}

@media (width >= 900px) {
    .tim {
        position: relative;
        max-width: 400px;
        margin-left: 550px;
        padding-top: 110px;
    }
    
    .tim::after {
        content: '';
        position: absolute;
        width: 10px;
        background-color: rgb(209, 159, 209);
        top: 11%;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    .cont h6, .cont h2 {
        font-size: 40px;
    }
    
    .hd {
        border-bottom: black 2px solid;
        font-size: 52px;
        text-decoration: solid;
        ;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .cont {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 100%;
        margin-top: 10px;
        font-family: Gabriola;
        font-size: 28px;
    }
    
    h1 {
        position: relative;
        text-align: center;
        justify-content: center;
        font-family: Gabriola;
        font-size: 20px;
    }
    
    .cont::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -55px;
        background-color: black;
        border-radius: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .left {
        left: -60%;
        margin-top: 40px;
    }
    
    .right {
        left: 60%;
        margin-top: 25px;
    }
    
    .left::before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        right: 2px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgb(209, 159, 209);;
    }
    
    .right::before{
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        left: 2px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(209, 159, 209) transparent transparent;
        
    }
    
    .right::after {
        left: -40px;
    }
    
    .content {
        padding: 20px 30px;
        background-color: plum;
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        position: relative;
        border-radius: 6px;
        text-align: center;
    }
}