* {
    margin: 0;
    padding: 0;
}

.op {
    font-family: Gabriola;
    font-size: 20px;
    margin-left: 50px;
    height: 10rem;
    position: absolute;
    transform: translateY(60%);
    
}
.op p{
    font-size: 20px;
}
 .op h1 {
    font-size: 46px;
    color: black;
    text-align: center; 
}

.them{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform: translateX(0%);
}

footer{
    background-color: black;
    color: white;
    position: relative;
    font-family: Gabriola;
    font-size: 20px;
    height: 220px;
    padding-top: 20px;
    transform: translateY(350%);
}
footer a{
    color: white;
    font-size: 18px;
    justify-content: space-between;
    padding-left: 10px;
    font-family: Gabriola;
}

footer a:hover{
    color: #F7C5CC;
}

/* @media screen and (max-width: 576px) {
    body {
        background-color: rgb(241, 185, 241);
    }
} */