* {
    margin: 0;
    padding: 0;
}

.responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.op {
    font-family: Gabriola;
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    transform: translateY(-115%);
    
}
 .op h1 {
    font-size: 76px;
    width: 250px;
    margin-left: 550px;
    color: black;
    text-align: center;
    /*background-color: rgb(248, 246, 243)*/;
    border-radius: 38px;
background: #e6e5e5;
box-shadow: inset 16px 16px 26px #bfbebe,
            inset -16px -16px 26px #ffffff;
    
}

.it img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
    height: 750px;
    width: 1550px;
}



footer{
    background-color: black;
    color: white;
    position: relative;
    font-family: Gabriola;
    font-size: 46px;
    height: 305px;
    padding-top: 20px;
}

footer a{
    color: white;
    font-size: 22px;
    justify-content: space-between;
    padding-left: 10px;
    font-family: Gabriola;
}

footer a:hover{
    color: #F7C5CC;
}

@media screen and (max-width: 576px) {
    body {
        background-color: rgb(241, 185, 241);
    }
}