body {
    background-image: url(../images/flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.flip-card1,
.flip-card2,
.flip-card3,
.flip-card4,
.flip-card5,
.flip-card6 {
    width: 300px;
    height: 300px;
    margin: 130px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.25);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.6s;
    transform-style: preserve-3d;
    font-size: larger;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #f7d3d7;
    color: black;
    font-family: Gabriola;
    font-size: 26px;
    transform: rotateY(180deg);
    padding-top: 40px;
    height: 450px;
}

.flip-card1:hover .flip-card-inner,
.flip-card2:hover .flip-card-inner,
.flip-card3:hover .flip-card-inner,
.flip-card4:hover .flip-card-inner,
.flip-card5:hover .flip-card-inner,
.flip-card6:hover .flip-card-inner{
    transform: rotateY(180deg);
    transition: transform 0.6s;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    font-family: Gabriola;
    padding-top: 20px;
    font-size: 40px;
}

footer a{
    color: white;
    font-size: 22px;
    justify-content: space-between;
    padding-left: 10px;
    font-family: Gabriola;
}

footer a:hover{
    color: #F7C5CC;
}

@media (width <= 900px) {
    .centered p {
        text-align: center;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: black;
        font-family: Gabriola;
    }
    .flip-card1,
    .flip-card2,
    .flip-card3,
    .flip-card4,
    .flip-card5,
    .flip-card6 {
    width: 200px;
    height: 250px;
    margin-left: 10px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.25);
    }
    .flip-card1:hover .flip-card-inner,
    .flip-card2:hover .flip-card-inner,
    .flip-card3:hover .flip-card-inner,
    .flip-card4:hover .flip-card-inner,
    .flip-card5:hover .flip-card-inner,
    .flip-card6:hover .flip-card-inner{
    transform: rotateY(180deg);
    transition: transform 0.5s;
    }
    footer {
        width: 100vh;
    }
}
